Repository aryella-lacerda/react-native-template-full-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

.lintstagedrc:

{
   "*.{ts,json,md}": [
      "prettier --write",
    ],
    "*.{js,ts,tsx}": [
      "eslint '*/**/*.{js,ts,tsx}' --fix",
    ]
}

feat: add commitlint
  commitlint.config.js
  husky.config.js
  package.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

feat: add standard-version for auto versionbump & changelog generation
  .versionrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

chore: add jest coverage path and threshold
  jest.config.js
Due: eslint '*/**/*.{js,ts,tsx}' --fix

feat: add ci scripts to verify and test code
  .github/workflows/test.yml
  .github/workflows/verify.yml
  husky.config.js
  package.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

feat: add pull request template
  PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat: add storybook, testing screen, api & fixture api
  node_modules/.yarn-integrity
  template/.eslintrc.js
  template/App/Config/DebugConfig.ts
  template/App/Config/StorybookConfig/addons.js
  template/App/Config/StorybookConfig/index.js
  template/App/Config/StorybookConfig/rn-addons.js
  template/App/Config/StorybookConfig/stories.js
  template/App/Config/index.ts
  template/App/Containers/ConfigContainer.tsx
  template/App/Containers/ProviderContainer.tsx
  template/App/Containers/RootContainer.tsx
  template/App/Containers/TestingScreen.tsx
  template/App/Containers/index.ts
  template/App/Contexts/UserContext.tsx
  template/App/Contexts/index.ts
  template/App/Entities/User.ts
  template/App/Entities/index.ts
  template/App/Features/Example/Containers/ExampleScreen.tsx
  template/App/Features/Example/Containers/index.ts
  template/App/Features/Example/Fixtures/index.ts
  template/App/Features/Example/Fixtures/success.json
  template/App/Features/Example/index.ts
  template/App/Features/index.ts
  template/App/Navigation/RootStack.tsx
  template/App/Navigation/TestingStack.tsx
  template/App/Navigation/index.ts
  template/App/Services/API.ts
  template/App/Services/FixtureAPI.tsx
  template/App/Services/Navigation.ts
  template/App/Utils/API/buildResponse.ts
  template/App/Utils/API/index.ts
  template/App/Utils/API/timeout.ts
  template/App/Utils/index.ts
  template/package.json
  template/tsconfig.json
  template/yarn.lock
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

chore: add .gitignore to template repo
  .gitignore
  node_modules/.yarn-integrity
Due: none
